* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

header {
	background: linear-gradient(90deg, white, #4456B7);
	height: 100px;
	display: flex;
	align-items: center;
}

header img {
	height: 70%;
	margin-left: 20px;
}

nav ul {
	display: flex;
	justify-content: center;
}

nav ul li {
	list-style: none;
}

nav a {
	border: 1px solid blue;
	display: inline-block;
	color: blue;
	font-weight: bold;
	padding: 5px;
	margin: 10px 7px;
	text-decoration: none;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* index.html */
table {
	width: 100%;
	border-collapse: collapse;
}

table td {
	padding: 5px;
}

table td:first-child {
	width: 50%;
}

table thead {
	background-color: black;
	color: white;
	font-weight: bold;
}

table tbody tr:nth-child(even) {
	background-color: #eee;
}

table tbody td.xp {
	color: green;
	font-weight: bold;
}

table tbody td.xp.no {
	color: red;
}

table td button {
	padding: 3px;
}

/* form.html */
form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

form .form-wrapper {
	display: grid;
	grid-template-columns: 150px 200px;
	gap: 10px 5px;
}

form label {
	text-align: right;
	padding: 2px 0;
}

form input[type=text] {
	padding: 2px;
}

form .xp-wrapper {
	padding-top: 2px;
}

form .xp-wrapper input[type=radio] {
	margin-bottom: 10px;
}

form button {
	padding: 5px;
	width: 100px;
	margin-top: 10px;
}

/* form .form-item {
	padding: 3px;
}

form .form-item label {
	display: inline-block;
	text-align: right;
	width: 150px;
}

form .form-item__radio_item {
	display: flex;
	flex-direction: column;
}

form .form-item__radio_item label {
	display: initial;
} */